<p id="notice"><%= notice %></p>

<p>
  <strong>Engine:</strong>
  <%= @search_engine.engine %>
</p>

<%= link_to 'Edit', edit_search_engine_path(@search_engine) %> |
<%= link_to 'Back', search_engines_path %>
