<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
          class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="/">SEOTOOL</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
              class="icon-cog"></i> Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;">Settings</a></li>
            <li><a href="javascript:;">Help</a></li>
          </ul>
          </li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
              class="icon-user"></i>User name<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;">Profile</a></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>
          </li>
        <% else %>
            <li class=""> <a href="/users/sign_in">Sign In</a> </li>
        <%end%>
        </ul>
        <form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!-- /container -->
  </div>
  <!-- /navbar-inner -->
</div>
<!-- /navbar -->

